HOME_ASSISTANT_IMAGE=ghcr.io/home-assistant/home-assistant:stable
TZ=America/Sao_Paulo
HA_PORT=8123
CHROMECAST_KNOWN_HOSTS=192.168.1.50
CHROMECAST_NAME=Living Room Chromecast
PUBLIC_URL=http://192.168.1.100:8090/
SNAPSHOT_BASE_URL=http://192.168.1.100:8090/snapshots
HOME_ASSISTANT_URL=http://homeassistant:8123
CAST_MODE=direct
CAMERA_RUA_RTSP=rtsp://user:password@192.168.1.110:554/stream1
CAMERA_VARANDA_RTSP=rtsp://user:password@192.168.1.111:554/stream1
SNAPSHOT_INTERVAL=1
IMAGE_REFRESH_SECONDS=1
CAST_WATCHDOG_ENABLED=1
CAST_WATCHDOG_INTERVAL=20
CAST_WATCHDOG_RECOVERY_COOLDOWN=30
CAST_WATCHDOG_START_GRACE_SECONDS=20
DASHCAST_APP_IDS=84912283
DEFAULT_QUALITY_PROFILE=near_live
